-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: opwiki_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `characters`
--

DROP TABLE IF EXISTS `characters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `characters` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `alias` varchar(255) DEFAULT NULL,
  `japanese_name` varchar(255) DEFAULT '',
  `romanji` varchar(255) DEFAULT '',
  `affiliation` varchar(255) DEFAULT '',
  `position` varchar(255) DEFAULT NULL,
  `origin` varchar(255) DEFAULT NULL,
  `first_appearance` varchar(255) DEFAULT NULL,
  `height` varchar(50) DEFAULT NULL,
  `birthday` varchar(20) DEFAULT NULL,
  `danger_level` varchar(50) DEFAULT 'Normal',
  `bounty` bigint(20) DEFAULT 0,
  `status` varchar(100) DEFAULT 'Alive',
  `description` text DEFAULT NULL,
  `manga_debut_chapter` int(11) DEFAULT NULL,
  `manga_debut_date` date DEFAULT NULL,
  `anime_debut_episode` int(11) DEFAULT NULL,
  `anime_debut_date` date DEFAULT NULL,
  `image` varchar(500) DEFAULT '',
  `debut_arc` varchar(255) DEFAULT '',
  `haki_types` varchar(255) DEFAULT NULL,
  `devil_fruit` varchar(255) DEFAULT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `debut_arc_id` int(11) DEFAULT NULL,
  `devil_fruit_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_name` (`name`),
  KEY `idx_affiliation` (`affiliation`),
  KEY `idx_debut_arc` (`debut_arc_id`),
  KEY `idx_devil_fruit` (`devil_fruit_id`)
) ENGINE=InnoDB AUTO_INCREMENT=53 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `characters`
--

LOCK TABLES `characters` WRITE;
/*!40000 ALTER TABLE `characters` DISABLE KEYS */;
/*!40000 ALTER TABLE `characters` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devil_fruits`
--

DROP TABLE IF EXISTS `devil_fruits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `devil_fruits` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `japanese_name` varchar(255) DEFAULT '',
  `type` enum('Paramecia','Zoan','Logia','Mythical Zoan','Ancient Zoan','Special Paramecia','Unknown') DEFAULT 'Unknown',
  `description` text DEFAULT NULL,
  `current_holder` varchar(255) DEFAULT '',
  `awakening` varchar(20) DEFAULT 'No',
  `debut_chapter` varchar(100) DEFAULT NULL,
  `strength_level` varchar(50) DEFAULT 'C',
  `weakness` varchar(255) DEFAULT NULL,
  `combat_rating` int(11) DEFAULT 0,
  `rarity_meter` int(11) DEFAULT 0,
  `threat_level` varchar(50) DEFAULT 'Low',
  `image` varchar(500) DEFAULT '',
  `created_at` datetime DEFAULT current_timestamp(),
  `current_holder_id` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_name` (`name`),
  KEY `idx_type` (`type`),
  KEY `idx_holder` (`current_holder_id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devil_fruits`
--

LOCK TABLES `devil_fruits` WRITE;
/*!40000 ALTER TABLE `devil_fruits` DISABLE KEYS */;
/*!40000 ALTER TABLE `devil_fruits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `arcs`
--

DROP TABLE IF EXISTS `arcs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `arcs` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `japanese_name` varchar(255) DEFAULT '',
  `arc_number` int(11) NOT NULL DEFAULT 0,
  `saga` varchar(255) DEFAULT '',
  `chapters` varchar(50) DEFAULT '',
  `manga_start_chapter` int(11) DEFAULT NULL,
  `manga_end_chapter` int(11) DEFAULT NULL,
  `manga_start_date` date DEFAULT NULL,
  `manga_end_date` date DEFAULT NULL,
  `anime_start_episode` int(11) DEFAULT NULL,
  `anime_end_episode` int(11) DEFAULT NULL,
  `anime_start_date` date DEFAULT NULL,
  `anime_end_date` date DEFAULT NULL,
  `episodes` varchar(50) DEFAULT '',
  `location` varchar(255) DEFAULT NULL,
  `timeline_position` varchar(50) DEFAULT 'Pre-Timeskip',
  `major_deaths` text DEFAULT NULL,
  `tragedy_meter` int(11) DEFAULT 0,
  `hype_rating` int(11) DEFAULT 0,
  `lore_importance` varchar(50) DEFAULT 'Normal',
  `key_villains` text DEFAULT NULL,
  `major_events` text DEFAULT NULL,
  `description` text DEFAULT NULL,
  `image` varchar(500) DEFAULT '',
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_saga` (`saga`),
  KEY `idx_arc_number` (`arc_number`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `arcs`
--

LOCK TABLES `arcs` WRITE;
/*!40000 ALTER TABLE `arcs` DISABLE KEYS */;
/*!40000 ALTER TABLE `arcs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theories`
--

DROP TABLE IF EXISTS `theories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `theories` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `slug` varchar(255) NOT NULL,
  `content` text NOT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `spoiler_level` tinyint(4) NOT NULL DEFAULT 0,
  `created_at` datetime DEFAULT current_timestamp(),
  `updated_at` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `slug` (`slug`),
  KEY `user_id` (`user_id`),
  FULLTEXT KEY `ft_theories` (`title`,`content`),
  CONSTRAINT `theories_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theories`
--

LOCK TABLES `theories` WRITE;
/*!40000 ALTER TABLE `theories` DISABLE KEYS */;
/*!40000 ALTER TABLE `theories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookmarks`
--

DROP TABLE IF EXISTS `bookmarks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookmarks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_id` int(11) NOT NULL,
  `target_type` enum('article','theory') NOT NULL,
  `target_id` int(11) NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_bookmark` (`user_id`,`target_type`,`target_id`),
  KEY `idx_user` (`user_id`),
  CONSTRAINT `bookmarks_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookmarks`
--

LOCK TABLES `bookmarks` WRITE;
/*!40000 ALTER TABLE `bookmarks` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookmarks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comments`
--

DROP TABLE IF EXISTS `comments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `comments` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `target_type` varchar(20) NOT NULL,
  `target_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `content` text NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  `deleted` tinyint(1) NOT NULL DEFAULT 0,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `comments_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comments`
--

LOCK TABLES `comments` WRITE;
/*!40000 ALTER TABLE `comments` DISABLE KEYS */;
/*!40000 ALTER TABLE `comments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `theory_votes`
--

DROP TABLE IF EXISTS `theory_votes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `theory_votes` (
  `theory_id` int(11) NOT NULL,
  `user_id` int(11) NOT NULL,
  `vote` enum('up','down') NOT NULL,
  `created_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`theory_id`,`user_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `theory_votes_ibfk_1` FOREIGN KEY (`theory_id`) REFERENCES `theories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `theory_votes_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `theory_votes`
--

LOCK TABLES `theory_votes` WRITE;
/*!40000 ALTER TABLE `theory_votes` DISABLE KEYS */;
INSERT INTO `theory_votes` VALUES (1,1,'up','2026-05-31 08:19:16'),(1,2,'up','2026-05-31 08:19:16'),(1,3,'up','2026-05-31 08:19:16');
/*!40000 ALTER TABLE `theory_votes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-01 15:18:13
